.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 6rem 0 0 0;
  align-items: center;
  background: url("/imgs/hero-img.png") no-repeat center;
  width: 100vw;
  height: 100vw;
}

.portfolio-title {
  font-size: 6rem;
  font-family: "Georgia", serif;
  margin-bottom: 1px;
}

.portfolio-title .highlight {
  color: #066b6d;
}

.subtitle {
  color: #066b6d;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 79px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
